// ========== base color ==========
$blue: #5bb7db;
$green: green;
$red: red;
$gray: #4d4d4d;
$bg-color: rgba(17,17,87,1);
$default-text-color: #4d4d4d;

// ========== chart color ==========
$color1 : #93d1e9;
$color2 : #9780bb;
$color3 : #ea7a73;
$color4 : #f8cc6b;
$color5 : #ffa751;
$color6 : #6791d1;
$color7 : #2292aa;
$color8 : #6dbe95;
$color9 : #c3b49b;
$color10 : #f1b6c6;
$color11 : #92e1cc;
$color12 : #cee4e5;
$color13 : #c4df84;
$color14 : #517511;

// ========== banner ==========
$blue-bar: linear-gradient(40deg,#529ec6,#00345f) !important;
// $blue-bar-img: url(../../assets/images/banner/banner_3_1920x500.png) !important;

// ========== font ==========
$font: "Roboto", Arial, Helvetica, sans-serif!important; // project main
$font-NotoSans: 'Noto Sans TC', 'Noto Sans SC', 'Noto Sans';

// ========== size ==========